*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 0px) and (max-width: 649px) {
    header{
        background-color:none;
        height: 400px;
        display: flex;
        flex-flow: row wrap;
        
        
        
    
    }
    
    header nav#sociales{
        background-color: none;
        width: 100%;
        height: 70px;
        display: flex ;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
        order: 1;
        background-color: rgb(0, 0, 0);
        
        
    
    
    }
    header nav#sociales a{
        background-color: none;
        font-style: none ;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-shadow: 1px 1px rgb(77, 77, 77);
        font-size: 20px;
        padding: 9px;
        
        
        
        
       
    
    }
    header nav#sociales i{
        color: rgb(1, 105, 149);
        font-size: 30px;
        
        
    
    }

    
    header nav#sociales span{
        color: rgb(255, 255, 255);
        /* display: contents; */
        display: none;
    
    }
    
    
    
    header nav#nombre{
        background-color:rgb(0, 0, 0);
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row wrap;
       justify-content: center;
       text-align: center;
       order: 0;
       
        
    
    }
    header nav#nombre a{
        background-color: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        text-shadow: 1px 1px rgb(73, 71, 71);
        
       
     
        
        
    
    }
    header nav#nombre i{
        color: orange;
    
    }
    header nav#nombre span{
        color: rgb(255, 255, 255)    ;
        
        
    }
    
    header figure#logo {
        background-color:none;
        width: 100%;
        height: 290px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        order: 2;
        padding-top: 10px;
        
    }
    
    header figure#logo img{
        height: 100px;
        
        
        
        
        
        
        
        
    
    }
    
    header figure#logo h4{
        text-shadow: 1px 1px rgb(244, 241, 241);
        border-radius: 100%;
        font-size: 40px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

       
        
        
       
        
    
    
    }
    main{
        height: 1800px;
        background-color: none;
    }

    main #principal1{
        background-color: none;
        height: 1000px;
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
        justify-content: space-around;
        align-items: center;
        
        

    }

    main #principal1 #seccion1{
        background-color: none;
        display: flex;
        flex-flow: column nowrap;
        background-color: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        
        padding-top: 50px;
        
        
    }
    main #principal1 #seccion1 h1{
        color: blueviolet;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 4px 4px black;
        padding: 20px;
        font-size: 40px;
        
    }
    main #principal1  #seccion1 figure{
        background-color: none;

    }

    main #principal1 #seccion1 figure img{
        background-color: none;
        border-radius: 10%;
        box-shadow: 10px 10px black;
        box-sizing:content-box;
        height: 400px;
    }

    main #principal1 #seccion2 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background-color: none;
        height: 370px;
        width:100%;
        
        
       
        


    }
    main #principal1 #seccion2 p{
        text-align: center;
        font-weight: lighter;
        word-spacing: 3px;
        letter-spacing: 1px;
        border-radius: 15px;
        margin: 30px;
        background-color: white;
        height: 100px;
        display: flex;
        align-items: center;
        box-shadow: 10px 10px black;
       box-sizing:content-box;
       font-family: 'Akaya Kanadaka', cursive;
       
    }
    main #slider {
        background-color: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    main #slider h1{
        text-align: center;
        font-weight: lighter;
        word-spacing: 3px;
        letter-spacing: 1px;
       border-radius: 15px;
       margin: 30px;
       background-color:none;
        color: white;
       font-family: 'Anton', sans-serif;
       text-shadow: 4px 4px black;
        font-size: 30px;

    }
    main #slider h2{
        text-align: center;
        font-weight: lighter;
        font-family: 'Anton', sans-serif;
        word-spacing: 3px;
        letter-spacing: 1px;
        border-radius: 15px;
        background-color: none;
        text-shadow: 2px 2px magenta;
        padding-bottom: 40px;
        font-size: 30px;
    }

    main .slider {
        display: flex;
        flex-flow: row nowrap;
        height: 500px;
        width: 95%;
        border: black 5px solid;
        border-radius: 5px;
        
        
       
        
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    }

    main .slider img{
        flex: 0 0 100%;
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;

    }
    
    
    /* nav#menu{
        background-color: none;
        width: 80%;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        order: 2 ;
       
        
        
        
        
    
    
    } */
    /* nav#menu a{
        display: flex;
        align-items: center;
        text-decoration:none ;
        
    
        
    
    }
    nav#menu a span{
        
        font-style:oblique;
        color: orange;
        text-shadow: 1px 1px orange;
    
    } */
    
    body{
        
        /* background-image:url(http://www.solofondos.com/wp-content/uploads/2015/11/bgcalisma-1.jpg); */
        /* background-repeat: no-repeat;
        background-position-x:center;
        background-position-y:center;
        background-size: cover; */
        height: 2200px;
        background-image: linear-gradient(140deg, crimson,sienna, royalblue, indianred, purple);
        background-repeat: no-repeat;
     }

     footer{
        width: 100%;
        height: 140px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        
       


     }
     
     footer h3{

     }

     footer a{
        background-color: black;
        text-decoration: none;
        color: aliceblue;
        font-size: 26px;
        border-radius: 20%;
        border: solid  rgb(187, 0, 255);
     }

     footer div{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
        background-color: white;
     }

     footer div a:hover {
        background-color: magenta;
    }
      





    

@media screen and (min-width: 650px) and (max-width: 899px) {
    header{
        background-color:none;
        height: 400px;
        display: flex;
        flex-flow: row wrap;
        
        
        
    
    }
    
    header nav#sociales{
        background-color:black ;
        width: 80%;
        height: 90px;
        display: flex ;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: flex-start;
        order: 1;
        background-color: none;
        
        
    
    
    }
    header nav#sociales a{
        background-color: none;
        font-style: none ;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-shadow: 1px 1px rgb(77, 77, 77);
        font-size: 20px;
        padding: 9px;
        
        
        
        
       
    
    }
    header nav#sociales i{
        color: rgb(1, 105, 149);
        
    
    }
    header nav#sociales span{
        color: rgb(255, 255, 255);
        display: contents;
    
    }
    
    
    
    header nav#nombre{
        background-color:rgb(0, 0, 0);
        width: 20%;
        height: 90px;
        display: flex;
        flex-flow: row wrap;
       justify-content: center;
       text-align: center;
       order: 1;
       
        
    
    }
    header nav#nombre a{
        background-color: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        text-shadow: 1px 1px rgb(73, 71, 71);
        
       
     
        
        
    
    }
    header nav#nombre i{
        color: orange;
    
    }
    header nav#nombre span{
        color: rgb(255, 255, 255)    ;
        
        
    }
    
    header figure#logo {
        background-color:none;
        width: 100%;
        height: 290px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        order: 2;
        
    }
    
    header figure#logo img{
        height: 140px;
        
        
        
        
        
        
        
        
    
    }
    
    header figure#logo h4{
        text-shadow: 1px 1px rgb(244, 241, 241);
        border-radius: 100%;
        font-size: 40px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

       
        
        
       
        
    
    
    }
    main{
        height: 2021px;
        background-color: none;
    }

    main #principal1{
        background-color: none;
        height: 720px;
        display: flex;
        flex-flow: row wrap;
        justify-content:left;
        justify-content: space-around;
        align-items: flex-start;
        
        

    }

    main #principal1 #seccion1{
        background-color: none;
        display: flex;
        flex-flow: column nowrap;
        background-color: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        
       
        
        
    }
    main #principal1 #seccion1 h1{
        color: blueviolet;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 4px 4px black;
        padding: 20px;
        
        font-size: 50px;
        
    }
    main #principal1  #seccion1 figure{
        background-color: none;

    }

    main #principal1 #seccion1 figure img{
        background-color: none;
        border-radius: 10%;
        box-shadow: 10px 10px black;
        box-sizing:content-box;
    }

    main #principal1 #seccion2 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background-color: none      ;
        height: 450px;
        width:100%;
        
        
        
       
        


    }
    main #principal1 #seccion2 p{
        text-align: center;
        font-weight: lighter;
        word-spacing: 3px;
        letter-spacing: 1px;
       border-radius: 15px;
       margin: 30px;
       background-color: white;
       box-shadow:  2px solid black;
       height: 70px;
       box-shadow: 10px 10px black;
       box-sizing:content-box;
       font-family: 'Akaya Kanadaka', cursive;
       
    }
    main #slider {
        background-color: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 1100px;
        padding-top:  470px;
        
        
    }

    main #slider h1{
        text-align: center;
        font-weight: lighter;
        word-spacing: 3px;
        letter-spacing: 1px;
       border-radius: 15px;
       margin: 30px;
       background-color:none;
        color: white;
       font-family: 'Anton', sans-serif;
       text-shadow: 4px 4px black;
        font-size: 30px;

    }
    main #slider h2{
        text-align: center;
        font-weight: lighter;
        font-family: 'Anton', sans-serif;
        word-spacing: 3px;
        letter-spacing: 1px;
        border-radius: 15px;
        background-color: none;
        text-shadow: 2px 2px magenta;
       
        font-size: 30px;
    }

    main .slider {
        display: flex;
        flex-flow: row nowrap;
        height: 500px;
        width: 75%;
        border: black 5px solid;
        border-radius: 5px;
        
        
       
        
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    

    main .slider img{
        flex: 0 0 100%;
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;

    }
    
    
    
    /* nav#menu{
        background-color: none;
        width: 80%;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        order: 2 ;
       
        
        
        
        
    
    
    } */
    /* nav#menu a{
        display: flex;
        align-items: center;
        text-decoration:none ;
        
    
        
    
    }
    nav#menu a span{
        
        font-style:oblique;
        color: orange;
        text-shadow: 1px 1px orange;
    
    } */
    
    body{
        
        /* background-image:url(http://www.solofondos.com/wp-content/uploads/2015/11/bgcalisma-1.jpg); */
        /* background-repeat: no-repeat;
        background-position-x:center;
        background-position-y:center;
        background-size: cover; */
        height: 2500px;
        background-image: linear-gradient(140deg, crimson,sienna, royalblue, indianred, purple);
        background-repeat: no-repeat;
     }
     footer{
        width: 100%;
        height: 140px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        align-items: center ;
       


     }
     
     footer h3{

     }

     footer a{
        background-color: black;
        text-decoration: none;
        color: none;
        font-size: 26px;
        border-radius: 20%;
        border: solid  rgb(187, 0, 255);
     }

     footer div{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 60%;
        background-color: none;
     }

     footer div a:hover {
        background-color: magenta;
    }
}
@media screen and (min-width: 900px) {
    header{
        background-color:none;
        height: 400px;
        display: flex;
        flex-flow: row wrap;
        
        
        
    
    }
    
    header nav#sociales{
        background-color: none;
        width: 80%;
        height: 80px;
        display: flex ;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: flex-start;
        order: 1;
        background-color: rgb(0, 0, 0);
        
        
    
    
    }
    header nav#sociales a{
        background-color: none;
        font-style: none ;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-shadow: 1px 1px rgb(77, 77, 77);
        font-size: 20px;
        padding: 9px;
        
        
        
        
       
    
    }
    header nav#sociales i{
        color: rgb(1, 105, 149);
        
    
    }
    header nav#sociales span{
        color: rgb(255, 255, 255);
        display: contents;
    
    }
    header #sociales a:hover {
        background-color: rgb(246, 246, 246);
    }
    
    
    
    header nav#nombre{
        background-color:rgb(0, 0, 0);
        width: 20%;
        height: 80px;
        display: flex;
        flex-flow: row wrap;
       justify-content: center;
       text-align: center;
       order: 1;
       
        
    
    }
    header nav#nombre a{
        background-color: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        text-shadow: 1px 1px rgb(73, 71, 71);
        
       
     
        
        
    
    }
    header nav#nombre i{
        color: orange;
    
    }
    header nav#nombre span{
        color: rgb(255, 255, 255)    ;
        
        
    }
    
    header figure#logo {
        background-color:none;
        width: 100%;
        height: 290px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        order: 2;
        padding-top: 90px;
        
    }
    
    header figure#logo img{
        height: 140px;
        
        
        
        
        
        
        
        
    
    }
    
    header figure#logo h4{
        text-shadow: 1px 1px rgb(244, 241, 241);
        border-radius: 100%;
        font-size: 40px;
        font-family: 'Anton', sans-serif;
    

       
        
        
       
        
    
    
    }
    main{
        height: 1700px;
        background-color: none;
    }

    main #principal1{
        background-color: none;
        height: 710px;
        display: flex;
        flex-flow: row wrap;
        justify-content:left;
        justify-content: space-around;
        align-items: flex-start;
        
        

    }

    main #principal1 #seccion1{
        background-color: none;
        display: flex;
        flex-flow: column nowrap;
        background-color: none;
        width: 50%;
        justify-content: center;
        align-items: center;height: 700px;
        
     
        
        
    }
    main #principal1 #seccion1 h1{
        color: rgb(0, 0, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 4px 4px rgb(98, 0, 255);
        padding: 20px;  
        
        font-size: 50px;
        
    }
    main #principal1  #seccion1 figure{
        background-color: none;

    }

    main #principal1 #seccion1 figure img{
        background-color: none;
        border-radius: 10%;
        box-shadow: 10px 10px black;
        box-sizing:content-box;
    }

    main #principal1 #seccion2 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background-color:none ;
        height: 700px;
        width:50%;
        padding-right: 50px;
        padding-top: 50px;

       
        
       
        


    }
    main #principal1 #seccion2 p{
        text-align: center;
        font-weight: lighter;
        word-spacing: 3px;
        letter-spacing: 1px;
       border-radius: 15px;
       margin: 30px;
       background-color: white;
       height: 100px;
       
       box-shadow: 10px 10px black;
       box-sizing:content-box;
       font-family: 'Akaya Kanadaka', cursive;

    }
    main #slider {
        background-color: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
        
        height: 1000px;
    }

    main #slider h1{
        text-align: center;
        font-weight: lighter;
        word-spacing: 3px;
        letter-spacing: 1px;
       border-radius: 15px;
       margin: 30px;
       background-color:none;
        color: white;
       font-family: 'Anton', sans-serif;
       text-shadow: 4px 4px black;
        font-size: 30px;

    }
    main #slider h2{
        text-align: center;
        font-weight: lighter;
        font-family: 'Anton', sans-serif;
        word-spacing: 3px;
        letter-spacing: 1px;
        border-radius: 15px;
        background-color: none;
        text-shadow: 2px 2px magenta;
        padding-bottom: 40px;
        font-size: 30px;
    }

    main .slider {
        display: flex;
        flex-flow: row nowrap;
        height: 600px;
        width: 50%;
        border: black 5px solid;
        border-radius: 5px;
        
        
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    

    main .slider img{
        flex: 0 0 100%;
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;

    }
    
    
    
    
    /* nav#menu{
        background-color: none;
        width: 80%;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        order: 2 ;
       
        
        
        
        
    
    
    } */
    /* nav#menu a{
        display: flex;
        align-items: center;
        text-decoration:none ;
        
    
        
    
    }
    nav#menu a span{
        
        font-style:oblique;
        color: orange;
        text-shadow: 1px 1px orange;
    
    } */
    
    body{
        
        /* background-image:url(http://www.solofondos.com/wp-content/uploads/2015/11/bgcalisma-1.jpg); */
        /* background-repeat: no-repeat;
        background-position-x:center;
        background-position-y:center;
        background-size: cover; */
        height: 2145px;
        background-image: linear-gradient(140deg, crimson,sienna, royalblue, indianred, purple);
        background-repeat: no-repeat;
     }
     footer{
        width: 100%;
        height: 140px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
       


     }
     
    

     footer a{
        background-color: black;
        text-decoration: none;
        color: none;
        font-size: 26px;
        border-radius: 20%;
        border: solid  rgb(187, 0, 255);
     }

     footer div{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 50%;
        background-color: none;
     }

     footer div a:hover {
        background-color: magenta;
    }
     }
     





